:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body { 
  padding: 20px 20px;
  font-family: Arial, sans-serif; margin: 20px; 
  background: rgb(2, 141, 14);
}
  
.head {
  background-image: url(./assets/Steuern.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 30vh;

}

#taxForm {
  width: auto;
}

.container { 
  max-width: 600px; margin: auto; }

label { 
  display: block; margin: 10px 0 5px; }
input { 
  width: 99.5%;
  padding: 5px 0;  
  font-size: 1.1rem;
  border-radius: 5px;
  border: 1px solid gray;
  text-align: center;
}
  
 select, button { 
  padding: 5px; width: 100%; margin-bottom: 10px; 
  font-size: 1.1rem;
  border-radius: 5px;
  border: 1px solid gray;
  text-align: center;
}
button {
  background-color: rgb(16, 255, 76);
}

button:hover {
  background-color: rgb(18, 232, 203);
}
h3 {
  font-weight: bold;
  color: yellow;
}
#result { 
  background-color: rgba(255, 255, 255, 0.094);
  padding: 5px 20px;
  border-radius: 10px;
  margin-top: 20px; }